<div class="game-container">
    <div class="game">
        @for (tile of tiles.values(); track tile.id) {
            <app-tile 
            [id]="tile.id" 
            [value]="tile.value" 
            [pos]="tile.pos" 
            [travelDist]="tile.distance" 
            [deleted]="tile.deleted" 
            [combined]="tile.combined"
            [spawn] = "tile.spawn"
            />
        }
        <div class="cell-grid">
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
        </div>
    </div>
</div>