.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c585e;
    margin-top: 5%;
    width: var(--game-width);
    height: var(--game-width);
    border-radius: 2%;
}

.cell-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4%;
    width: 100%;
    height: 100%;
}

.row-container {
    display: flex;
    justify-content: space-between;
    column-gap: 4%;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    border-radius: 5%;
    background-color: #282c2e;
}

.game {
    position: relative;
    transform-origin: center;
    width: 92%;
    height: 92%;
    top: 0;
    left: 0;
}