<div class="game-container">
    <div class="game">
        @for (tile of tiles.values(); track tile.id) {
            @if(tile.value > 0) {
                <app-tile [id]="tile.id" [value]="tile.value" [animation]="playAnimation.get(tile.id)" (childAnimationDone)="animationCallback($event)"/>
            }
        }
        <div class="cell-grid">
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
            <div class="row-container">
                <div class="cell">
                    
                </div>
                <div class="cell">
        
                </div>
                <div class="cell">
                    
                </div>
                <div class="cell">
                    
                </div>
            </div>
        </div>
    </div>
</div>