<main>
  <div class='content'>
    @if(showLeaderboard) {
      <app-leaderboard scores="leaderboardScores"/>
    }
    <div class='head-container'>
      <h1 class='title'>
        2048
      </h1>
      <div class='right-container'>
        <div class="score-container">
          <h2 class='timer'>
            {{getTime()}}
          </h2>
          <div class="score-box">
            <h3 class="score-text">
              {{score}}
            </h3>
          </div>
        </div>
        <div class='menu-button-container'>
          <button class='menu-button' (click)="showLeaderboardHandler()">
            Leaderboard
          </button>
          <button class='menu-button' (click)="newGameHandler()">
            New Game
          </button>
        </div>
      </div>
    </div>
    @if(gameLost) {
      <div class="fail-screen" @gameState>
        <h2 class="game-over-text">
          Game Over
        </h2>
        <button class="leaderboard-submit" (click)="submitLeaderboardHandler()">
          Submit to Leaderboard
        </button>
      </div>
    }
    <app-game (tileMoved)="tileMoveHandler($event)" (gameIsOver)="gameEndHandler()"/>
  </div>
</main>