<main>
  <div class='content'>
    <div class='head-container'>
      <h1 class='title'>
        2048
      </h1>
      <div class='right-container'>
        <h2 class='timer'>
          Time: {{getTime()}}
        </h2>
        <div class='menu-button-container'>
          <button class='menu-button'>
            Leaderboard
          </button>
          <button class='menu-button' (click)="newGameHandler()">
            New Game
          </button>
        </div>
      </div>
    </div>
    <app-game (tileMoved)="tileMoveHandler($event)"/>
  </div>
</main>