h1{
    text-align: center;
    color: white;
    margin: auto;
}

.tile {
    display: flex;
    position: absolute;
    flex-grow: 1;
    width: 22%;
    height: 22%;
    transform-origin: center;
    background-color: #c2c2c0;
    transition-property: all;
    transition-duration: 100ms;
    z-index: 1;
}